plts/*
code/._*
data/*
*.RData
._*
*Rhistory*
.Rprofile
.snakemake/
logs/*
results/*
scripts/*
docs/*
.R**
arch/**
tmp/**
code/arch/**
log
help
snpEff_genes.txt
snpEff_summary.html
subsample_analysis/plts
tables/
test_isolaser/
code/table*
